{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Siscope - Sistema de Controle Financeiro Pessoal</title>
</head>

<body >
  <div class="container cor-preta margin-center">
    <div class="row"> <!-- row -->
      <div class="col-sm-3 text-center">     
          <a class="navbar-brand mr-4"> <img src="{{ url_for('static', filename='icone_1.png') }}"> </a>
        <p class="text-muted mb-0">COM INTELIGÊNCIA ARTIFICIAL</p>
      </div>
       
       <div class="col-sm-3 text-center">     
          <a class="navbar-brand mr-4"> <img src="{{ url_for('static', filename='icone_1.png') }}"> </a>
        <p class="text-muted mb-0">COM INTELIGÊNCIA ARTIFICIAL</p>
      </div>
      
       <div class="col-sm-3 text-center">     
          <a class="navbar-brand mr-4"> <img src="{{ url_for('static', filename='icone_1.png') }}"> </a>
        <p class="text-muted mb-0">COM INTELIGÊNCIA ARTIFICIAL</p>
      </div>
       
       <div class="col-sm-3 text-center">     
          <a class="navbar-brand mr-4"> <img src="{{ url_for('static', filename='icone_1.png') }}"> </a>
        <p class="text-muted mb-0">COM INTELIGÊNCIA ARTIFICIAL</p>
      </div>
    </div> <!-- row -->

  </div>
    

</body>
</html>
{% endblock %}
