{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	 <div class="row">
       <div class="col-md-4">
        <div class="content-section">
          <p class='text-muted'>Mensagens do dia   
           <table class="table table-striped">
  <thead>
    <tr>
      <td>Lançamentos</td>
      <td>R$ 1000</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vencimentos</td>
      <td>R$ 1000</td>    
    </tr>
    <tr>  
      <td></td>
      <td></td>     
    </tr>
    <tr>    
      <td></td>
      <td></td>      
    </tr>
     <tr>  
      <td></td>
      <td></td>     
    </tr>
    <tr>    
      <td></td>
      <td></td>      
    </tr>
     <tr>  
      <td></td>
      <td></td>     
    </tr>
    <tr>    
      <td></td>
      <td></td>      
    </tr>
     <tr>
      <td>Saldo</td>
      <td>R$ 1000</td>    
    </tr>
  </tbody>
</table>
</p>
</div>
</div>
    

    <div class="col-sm-8 tamanho-grafico">
      <img src="/bar_graph/" alt="Bar graph">
    </div>
  </div>
</div> <!-- container -->


<div class="container-fluid">
	<div class="row">
       <div class="col-md-6">
       	 <div class="content-section border-bottom mb-2">
       	 	<h5>Lançamentos</h5>
       	 	<br><br><br>
       	 </div>
	</div>
	 <div class="col-md-6">
       	 <div class="content-section border-bottom mb-2">
       	 	<h5>Vencimentos</h5>
       	 	<br><br><br>
       	 </div>
	</div>
	</div>

</div>






{% endblock content %} <!-- content nao é necessario, mas ajuda a se organizar-->
