{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">

	<div class="content-section">
      <form method="POST" action="">
            {{ formulario_r.hidden_tag() }}
            <fieldset class="form-group form-inline ">
                <legend class="border-bottom mb-2">Editando - Contas a Receber</legend>
                <div class="form col-sm-5"><!-- form group do descricao pagar -->
                    {{ formulario_r.descreceber.label(class="form-control-label") }}

                    {% if formulario_r.descreceber.errors %} <!-- se o form for preenchido errado, exibe erro-->
                        {{ formulario_r.descreceber(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in formulario_r.descreceber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formulario_r.descreceber(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form col-sm-5"> <!-- form group do valor pagar -->
                    {{ formulario_r.valorreceber.label(class="form-control-label") }}
                    {% if formulario_r.valorreceber.errors %}
                        {{ formulario_r.valorreceber(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in formulario_r.valorreceber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formulario_r.valorreceber(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form col-sm-5"> <!-- form group do data pagar -->
                    {{ formulario_r.datareceber.label(class="form-control-label") }}
                    {% if formulario_r.datareceber.errors %}
                        {{ formulario_r.datareceber(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in formulario_r.datareceber.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    
                        {{ formulario_r.datareceber(class="form-control form-control-sm", type="date" ) }} <!--INSERT -->
                       
                    {% endif %}
                </div>
            
                {{ formulario_r.submit_editar_r(class="btn-group btn-success btn-sm mt-1 mb-1") }}
               
             		 <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal2">Apagar</button>
                      <a class="btn btn-info btn-sm m-1" href="{{ url_for('contas') }}">Voltar</a>
                      
          
          </fieldset>
        </form>
        </div>
      </div> <!-- div col -->


    </div>
  </div>

 <!-- Modal -->
  <div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Deseja mesmo prosseguir? Essa ação não poderá ser desfeita! </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('deletar_receber', receber_id=query_r.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Apagar">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
